body{
    font-family: open sans;
    margin: 0px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 230px 47px 230px;
    padding-top: 51px;
}
nav>h1{
    font-weight: 800;
    font-size: 45px;
}
.primary-color{
    color: #FD6E0A;;
}
nav>ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav>ul>li>a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
nav>ul>li{

    margin-left: 51px;
}
.btn-primary{
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF8F3;
    border: none;
}
.header{
    background-color: #FFF8F3;
    background-image: url('images/developer.png');
    background-repeat: no-repeat;
    background-position: center left;
}
.banner{
    display: flex;
    align-items: center;
    margin-left: 226px;
    margin-top: 49px;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner-head{
font-size: 45px;
font-weight: 600;
margin: 0px 0 5px 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin: 0;
}
.banner-content>p{
color:#757575;
font-size: 18px;
font-style: normal;
font-weight: 400;
margin: 23px 0;
}
.profile-pic{
    width: 584px;
height: 676px;
margin-right: 139px;
}