body{
    font-family: open sans;
    margin: 0px;
}
main{
max-width: 1140px;
margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 230px 47px 230px;
    padding-top: 51px;
}
nav>h1{
    font-weight: 800;
    font-size: 45px;
}
.primary-color{
    color: #FD6E0A;;
}
nav>ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav>ul>li>a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
nav>ul>li{

    margin-left: 51px;
}
.btn-primary{
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF8F3;
    border: none;
}
.header{
    background-color: #FFF8F3;
    background-image: url('images/developer.png');
    background-repeat: no-repeat;
    background-position: center left;
}
.banner{
    display: flex;
    align-items: center;
    margin-left: 226px;
    margin-top: 49px;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner-head{
font-size: 45px;
font-weight: 600;
margin: 0px 0 5px 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin: 0;
}
.banner-content>p{
color:#757575;
font-size: 18px;
font-style: normal;
font-weight: 400;
margin: 23px 0;
}
.profile-pic{
    width: 584px;
height: 676px;
margin-right: 139px;
}
.about-section{
    background-color: #FFF8F3;
    margin: 130px 0px;
}
.about-title{
padding-top: 131px;
margin: 0;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.about-description{
text-align: center;
padding: 30px 157px;
}
.about-info-container{
    display: flex;
    padding: 0 179px 131px 179px;
    justify-content: space-between;
}
.about{
text-align: center;

}
.about-info-title{
    color: #757575;
    font-size: 20px;
font-weight: 400;
}
.about-info{
    font-size: 20px;
font-weight: 700;
}
.skills{
    margin-top: 130;
}
.skill-section-header{
color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.skill-description{
margin: 30px 116px;
color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
}
.skills-container{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
.skill-details img{
    height: 44px;
    width: auto;
}
.skill-details{
    border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
}
.skill-details p{
width: 201px;
color: #757575;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
}
.resume{
    display: flex;
    justify-content: space-evenly;
}
.resume-title{
    text-align: center;
    margin: 110px 0;
    font-size: 35px;
    font-weight: 700;
}
.education-title, .experience-title{
    font-size: 30px;
font-style: normal;
font-weight: 700;
color: #474747;
}
.certificate-title, .post-title{
    font-size: 25px;
font-style: normal;
font-weight: 700;
color: #474747;
}
.post-info, .certificate-info{
    color: var(--Dark-03, #757575);
font-size: 20px;
font-weight: 600;
}
.post-details, .certificate-details{
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    width: 511px;
    height: 84px;
}
hr{
    color: #D1D1D1;
    background-color: #D1D1D1;
    height: 1px;
    margin: 30px 0;
}
#cv-download{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 113px;
    
}